<div class="topbar">
  <!-- Logo -->
  <div class="logo ml-5" (click)="scrollToTop()">
    <img src="assets/img/logo.png" alt="Logo">
  </div>

  <!-- Ícones -->
  <div class="icons">
    <button class="icon" (click)="toggleLanguage()">
      <lucide-icon [img]="Languages"></lucide-icon>
    </button>
    <button class="icon" (click)="toggleTheme()">
      <!-- Mostra Sol ou Lua baseado no tema atual -->
      <lucide-icon *ngIf="!isDarkMode" [img]="Sun"></lucide-icon>
      <lucide-icon *ngIf="isDarkMode" [img]="Moon"></lucide-icon>
    </button>
    <button class="icon mr-5" (click)="toggleMenu()">
      <lucide-icon [img]="Menu"></lucide-icon>
    </button>
  </div>
</div>