<div class="contact">
  <h2>{{ 'CONTACT' | translate }}</h2>

  <div class="contact-info">
    <div class="info-item">
      <i class="fas fa-envelope"></i>
      <a href="mailto:gabriel_librande@hotmail.com">
        gabriel_librande&#64;hotmail.com
      </a>
    </div>

    <div class="info-item">
      <i class="fab fa-whatsapp"></i>
      <a href="https://wa.me/5513991173234" target="_blank" rel="noopener">
        +55 13 99117-3234
      </a>
    </div>
  </div>

  <div class="socials">
    <a href="https://www.linkedin.com/in/gabriel-librande-b426ab20b/" target="_blank" rel="noopener">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://wa.me/5513991173234" target="_blank" rel="noopener">
      <i class="fab fa-whatsapp"></i>
    </a>
    <a href="https://github.com/Gabiru-cpu" target="_blank" rel="noopener">
      <i class="fab fa-github"></i>
    </a>
    <a href="mailto:gabriel_librande@hotmail.com">
      <i class="fas fa-envelope"></i>
    </a>
  </div>
</div>
