.footer {
  width: 100%;
  padding: 20px 40px;
  background-color: var(--background-975);
  color: var(--text-800);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  .info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
      margin: 0;
      font-size: 14px;
    }

    .links {
      display: flex;
      gap: 16px;

      a {
        color: var(--text-800);
        text-decoration: none;
        font-size: 14px;

        &:hover {
          color: var(--background-950);
        }
      }
    }
  }

  .social {
    display: flex;
    gap: 20px;

    a {
      color: var(--text-800);
      font-size: 24px;

      &:hover {
        color: var(--background-950);
        transform: scale(1.2);
      }
    }
  }
}

*{*{transition: background-color 0.6s ease, border-color 0.6s ease, color 0.4s ease, transform 0.4s ease;}}