<footer class="footer">
  <div class="info">
    <p>&copy; {{ currentYear }} Gabriel H. Librande. Todos os direitos reservados.</p>
    <div class="links">
      <a href="#">Termos de uso</a>
      <a href="#" target="_blank">Privacidade</a>
    </div>
  </div>

  <div class="contact">
    <h4>Contato:</h4>
    <p><i class="fa-solid fa-envelope mr-1"></i> gabriel_librande&#64;hotmail.com</p>
    <p><i class="fa-brands fa-whatsapp mr-1"></i> +55 (13) 99117-3234</p>
  </div>

  <div class="social items-center">
    <a href="#" target="_blank" aria-label="Email">
      <lucide-icon [img]="Mail"></lucide-icon>
    </a>
    <a href="https://github.com/" target="_blank" aria-label="GitHub">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://linkedin.com/" target="_blank" aria-label="LinkedIn">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://instagram.com/" target="_blank" aria-label="Instagram">
      <i class="fa-brands fa-instagram"></i>
    </a>
  </div>
</footer>
