<div class="network-container">
  <div class="header">
    <h2 class="title">Network</h2>
  </div>
  <div style="height: 50vh;" class="w-full max-w-6xl mx-auto overflow-hidden relative py-8">
    <div class="relative h-[400px]">
      <div *ngFor="let person of connections; let i = index"
           class="absolute top-0 left-1/2 transform transition-transform duration-500 ease-in-out"
           [ngClass]="getCardClass(i)"
           (click)="goTo(i)">
        <div class="bg-white rounded-3xl p-6 shadow-xl flex flex-col items-center gap-4 card cursor-pointer">
          <img [src]="person.img"
               class="w-24 h-24 rounded-full border-4 border-white shadow-lg object-cover"
               alt="{{ person.name }}" />
          <div class="text-center">
            <h2 class="text-2xl font-bold text-slate-800">{{ person.name }}</h2>
            <p class="text-sm text-slate-500">
              {{ person.role }}
            </p>
            <a [href]="person.linkedin" target="_blank" rel="noopener noreferrer"
               class="mt-2 inline-block bg-blue-600 text-white font-semibold px-4 py-2 rounded-full hover:bg-blue-700 transition">
              {{ 'SEELINKEDIN' | translate }} <i class="fa-brands fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <button (click)="prev()"
    class="arrow-page absolute left-4 top-1/2 -translate-y-1/2 bg-white px-6 py-3 rounded-full shadow-lg hover:bg-slate-700 active:scale-90">
  <i class="fas fa-angle-left"></i>
</button>
<button (click)="next()"
    class="arrow-page absolute right-4 top-1/2 -translate-y-1/2 bg-white px-6 py-3 rounded-full shadow-lg hover:bg-slate-700 active:scale-90">
  <i class="fas fa-angle-right"></i>
</button>
  </div>
</div>