.network-container {
  .header {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-950);
    text-shadow: 0 0 1px #aaa, 0 0 6px #888888de, 0 0 9px #666666de;
    text-align: center;
  }
}
img{border: 1px solid var(--text-950);}

:host {
  display: block;
}
.card {
  width: 280px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-card{
  background: color-mix(in srgb, var(--primary-50) 75%, transparent);
  border: 1px solid var(--background-border-card);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.text-center
{
  h2
  {
    color: var(--text-950);
  }
  p
  {
    color: var(--text-950);
  }
}

.card-center {
  transform: translateX(-50%) scale(1);
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
}

.card-left1 {
  transform: translateX(-140%) scale(0.9);
  opacity: 0.7;
  z-index: 4;
  pointer-events: auto;
}

.card-left2 {
  transform: translateX(-230%) scale(0.85);
  opacity: 0.4;
  z-index: 3;
  pointer-events: auto;
}

.card-right1 {
  transform: translateX(40%) scale(0.9);
  opacity: 0.7;
  z-index: 4;
  pointer-events: auto;
}

.card-right2 {
  transform: translateX(130%) scale(0.85);
  opacity: 0.4;
  z-index: 3;
  pointer-events: auto;
}

.card-hidden {
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  transform: translateX(0) scale(1);
}

.arrow-page{ z-index: 500; background-color: var(--text-950);
  i{color: var(--text-50);}
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}
