<div class="education-container">
  <div class="header">
    <h2 class="title">{{ 'EDUCATION' | translate }}</h2>
  </div>

  <div class="scroll-container" #scrollContainer>
    <div class="card" *ngFor="let edu of educations">
      <div class="icon">
        <lucide-icon [img]="GraduationCap"></lucide-icon>
      </div>
      <h4>{{ edu.institution }}</h4>
      <p><strong>{{ edu.course | translate }}</strong></p>
      <p>{{ edu.date | translate }}</p>
      <p *ngIf="edu.description">{{ edu.description | translate }}</p>
      <a *ngIf="edu.link" class="link" [href]="edu.link" target="_blank">
        Ver Certificados
        <lucide-icon [img]="ArrowRight"></lucide-icon>
      </a>
    </div>
  </div>
</div>
