:host {
  display: block;
  padding: 2rem;
}

.education-container {

  .header {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-950);
    text-shadow: 0 0 1px #aaa, 0 0 6px #888888de, 0 0 9px #666666de;
    text-align: center;
  }
}

.scroll-container {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  padding: 1rem 0;
  cursor: grab;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: contain;
  scroll-snap-stop: always;

  &.active {
    cursor: grabbing;
  }

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #1e293b;
  }
}

.card {
  flex: 0 0 400px;
  height: auto;
  border: 1px solid #2d3748;
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: var(--background-card);
  border: 1px solid var(--background-border-card);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(13px);
  color: #f8fafc;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  scroll-snap-align: start;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  }

  .icon {
    margin-bottom: 1rem;

    lucide-icon {
        color: var(--primary-600);
    }
  }

  h4 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--text-card-h3);
  }

  p {
    font-size: 0.9rem;
    color: var(--text-card-p);
    line-height: 1.4;
    margin-bottom: 1rem;
  }

  .link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--primary-600);
    font-weight: 600;
    font-size: 0.9rem;
    text-decoration: none;
    transition: gap 0.3s ease;

    &:hover {
      gap: 0.75rem;
    }

    svg {
      stroke: var(--primary-600);
    }
  }

}

/* melhora o tamanho dos cards no mobile */
@media (max-width: 767px) {
  .card {
    flex: 0 0 80vw;
  }  
}