<h2 class="title">
  Formação
</h2>

<div class="scroll-container" #scrollContainer>
  <div class="card" *ngFor="let edu of educations">
    <div class="icon">
      <lucide-icon [img]="GraduationCap"></lucide-icon>
    </div>
    <h4>{{ edu.institution }}</h4>
    <p><strong>{{ edu.course }}</strong></p>
    <p>{{ edu.date }}</p>
    <p *ngIf="edu.description">{{ edu.description }}</p>
    <a *ngIf="edu.link" class="link" [href]="edu.link" target="_blank">
      Ver Certificados
      <lucide-icon [img]="ArrowRight"></lucide-icon>
    </a>
  </div>
</div>
