<div 
  class="sidebar-overlay" 
  *ngIf="menuService.menuAberto$ | async"
  (click)="closeSidebar()">
</div>

<div 
  class="sidebar" 
  [class.open]="menuService.menuAberto$ | async">

  <nav class="menu">
    <a (click)="closeSidebar(); scrollToTop()" class="menu-item">Início</a>
    <a (click)="scrollToSection('skills')" class="menu-item">Skills</a>
    <a (click)="scrollToSection('experience')" class="menu-item">Experiência</a>
    <a (click)="scrollToSection('education')" class="menu-item">Educação</a>
    <a (click)="scrollToSection('projects')" class="menu-item">Projetos</a>
    <a (click)="scrollToSection('contact')" class="menu-item">Contato</a>
    <a (click)="scrollToSection('network')" class="menu-item">Network</a>
  </nav>
</div>