<div class="container-3d" #rendererContainer></div>

<div class="main">
  <div class="layout">

    <!-- Foto -->
    <div class="profile-pic">
      <!-- Blob background -->
      <div class="blob"></div>
      
      <!-- Símbolos animados -->
      <div class="floating-symbols">
        <div class="symbol" id="symbol1">{{ '{' }}{{ '}' }}</div>
        <div class="symbol" id="symbol2">&lt;/&gt;</div>
        <div class="symbol" id="symbol3">#</div>
        <div class="symbol" id="symbol4">λ</div>
      </div>

      <img src="assets/img/eu.png" alt="Foto de Gabriel Librande" />
    </div>

    <!-- Sobre mim -->
    <div class="about">
      <h1>Gabriel H. Librande</h1>
      <h2>Full Stack Developer</h2>
      <h3>{{ 'ABOUT_ME' | translate }}</h3>
      <p>{{ 'DESCRIPTION' | translate }}</p>
    </div>

    <!-- Spotify -->
    <div class="spotify">
      <iframe 
        src="https://open.spotify.com/embed/playlist/3ErS81bCe2zRKa2tBeJ2rb?utm_source=generator"
        width="100%" 
        height="352" 
        frameborder="0" 
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy">
      </iframe>
    </div>

  </div>
</div>
