<div class="container-3d" #rendererContainer></div>

<div class="main">  
  <div class="container">
    <div class="left">
      <div class="profile-pic">
        <img src="assets/img/eu.png" alt="Foto de Gabriel Librande" />
        <!-- <img src="assets/img/eu.png" style="transform: scaleX(-1);" alt="Foto de Gabriel Librande" /> -->
      </div>
    </div>

    <div class="right">
      <h1 class="fade-in">Gabriel H. Librande</h1>
      <h2 class="fade-in-delay">Full Stack Developer</h2>

      <h3 class="fade-in-more">Sobre mim</h3>
      <p class="about-text fade-in-more">
        Apaixonado por desenvolvimento de software, tecnologia e inovação. Sempre em busca de transformar ideias em soluções que gerem impacto.
      </p>
    </div>
  </div>
</div>
