/* You can add global styles to this file, and also import other style files */
@use './theme-colors' as colors;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* { 
  font-family: "DM Sans", sans-serif;
}

.d-flex { display: flex; }
body { 
  background-color: var(--background-50);
  transition: background-color 0.5s ease, color 0.5s ease;
}

[vw-access-button] { top: -200% !important; }