/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* { font-family: "DM Sans", sans-serif; }

.d-flex { display: flex; }
body { background-color: gray; }

[vw-access-button] { top: -150% !important; }